:root {
    --main-color: #fff;
    --primary-color: #f79256;
    --secondary-color: #279af1;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;

}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    align-items: center;
    background-color: var(--primary-color);
}

header ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 5%;
    list-style-type: none;
    width: 60%;
    align-items: center;
    justify-content: center;
}

header ul li {
    color: var(--main-color);
    font-size: 2em;
}


/*BODY STYLES*/


main {
    box-sizing: border-box;
    padding: 2% 4%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

main h1 {
    font-size: 3em;
}

#intro {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    padding: 3% 8%;
    width: 75%;
}

#intro ul {
    font-size: 1.5em;
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
    align-items: center;
    gap: 20px;
    max-width: 50%;
}

#intro img {
    max-width: 35%;
}

#gallery {
    width: 80%;
}

#gallery h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 60px;
}

#gallery .slider {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

#gallery .slider button {
    font-size: 3em;
    font-weight: bold;
    position: relative;
    z-index: 6;
    border: none;
    background: transparent;
}

#gallery .slider .left-control {
    right: 15px;
}

#gallery .slider .right-control {
    left: 30px;
}

#gallery .slider .slider-piece{
    position: absolute;
    width: 90%;
    aspect-ratio: 16 / 9;
    margin-left: auto;
    margin-right: auto;
    transition: all .5s ease-in;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#gallery .slider .slider-piece:not(.current) {
    transform: translateX(25px) translateY(25px);
}

#gallery .slider .slider-piece.current {
    position: relative;
    z-index: 4;
}

#gallery .slider .slider-piece p {
    font-size: 1.5em;
    color: var(--main-color);
    opacity: 0;
}

#gallery .slider .slider-piece.current:hover p {
    opacity: 1;
    position: relative;
    z-index: 5;
}

#gallery .slider .slider-piece::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
}

#gallery .slider .slider-piece:not(.current)::after{
    opacity: 0.3;
}

#gallery .slider .slider-piece.current:hover::after {
    opacity: 0.7;
}

#barcelona {
    background-image: url("img/barca.jpg");
}
#santo {
    background-image: url("img/san-dom.jpg");
}

#koln {
    background-image: url("img/koln.jpg");
}

#prague {
    background-image: url("img/prague.jpg");
}

#kyiv {
    background-image: url("img/kyiv.jpg");
}


/*END OF GALLERY*/


#contact {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#contact h2 {
    font-size: 2em;
}

#contact input {
    font-size: 1.75em;
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    padding: 5px 10px;
    box-sizing: border-box;
}

#contact textarea {
    font-size: 1.5em;
    border: 2px solid var(--primary-color);
    border-radius: 10%;
    padding: 10px;
    box-sizing: border-box;
}


/*END OF CONTACT PAGE*/


footer {
    width: 100%;
    padding: 1% 5%;
    box-sizing: border-box;
    background-color: var(--secondary-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

footer h3 {
    color: var(--main-color);
    font-size: 1.5em;
}

footer p a {
    font-size: 1.25em;
    text-decoration: none;
    color: var(--main-color);

}


/*END OF FOOTER*/


/*MEDIA QUERIES*/


@media screen and (max-width: 768px) {

    header ul {
        justify-content: space-between;
    }

    header ul li {
        font-size: 1.5em;
    }

    #intro {
        flex-flow: column nowrap;
    }

    #intro ul {
        max-width: 80%;
    }

    #intro img {
        max-width: 80%;
    }
}

@media screen and (max-width: 550px) {

    body {
        font-size: 14px;
    }

    header {
        padding: 2px 5px;
    }

    header ul {
        gap: 2%;
        width: 90%;
        padding-left: 0;
    }

    main {
        gap: 5px;
        font-size: 12px;
        padding: 10px;
    }

    #intro {
        flex-flow: column-reverse nowrap;
        padding: 10px;
        width: 95%;
    }

    #intro ul{
        max-width: 100%;
    }

    #intro img {
        max-width: 95%;
    }

    #gallery .slider .slider-piece:not(.current) {
        transform: translateX(10px) translateY(10px);
    }
}